body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #111;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;

    #button-exit {
        background-color: rgba(255, 0, 255, 0);
        cursor: pointer;
        height: $banner-height;
        width: 162px;
        top: 0;
        right: 0;
        z-index: 1400;
        position: absolute;
    }

    #close-button {
        background-color: rgba(255, 0, 255, 0);
        cursor: pointer;
        height: 22px;
        width: 22px;
        top: 6px;
        right: 6px;
        z-index: 1500;
        position: absolute;
    }

    #border {
        border: 3px solid #FFFFFF;
        display: block;
        width: $banner-width - 6;
        height: $banner-height - 6;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 1500;
    }

    #border2 {
        border: 1px solid #000000;
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 1500;
    }

    #footer {
        background: #FFFFFF;
        right: 0;
        bottom: 0;
        width: 162px;
        height: $banner-height;
        position: absolute;
        z-index: 1400;

        #logo {
            right: 22px;
            bottom: 15px;
            position: absolute;
        }

        #collapse_btn_x {
            right: 8px;
            top: 8px;
            position: absolute;
        }

        #cta_arrow {
            left: 12px;
            top: 20px;
            clip: rect(0px, 90px, 12px, 80px);
            position: absolute;
        }

        #cta_txt {
            left: 12px;
            top: 20px;
            clip: rect(0px, 80px, 12px, 0px);
            position: absolute;
        }
    }

    #curtain {
        background: #FFF;
        top: 0;
        left: 0;
        width: $banner-width;
        height: $banner-height;
        position: absolute;
        pointer-events: none;
        z-index: 500;
    }

    #headline {
        top: 100px;
        left: 25px;
        position: absolute;
        pointer-events: none;
    }

    #before-after {
        position: relative;
        width: 808px;
        height: $banner-height;
    }

    .view {
        position: absolute;
        top: 0;
        left: 0;
        width: 808px;
        height: $banner-height;
        overflow: hidden;
    }

    .view-before {
        z-index: 100;
    }

    .view-after {
        z-index: 200;
    }

    #dragme {
        position: absolute;
        width: 3px;
        height: $banner-height;
        top: 0;
        left: 0;
        background-color: #00b1eb;
        cursor: pointer;
        z-index: 300;

        #knob {
            position: absolute;
            top: 109px;
            left: -15.5px;
            transform: translate3d(0, 0, 0.1px);
            cursor: pointer;
        }

        #circle {
            position: absolute;
            top: 114px;
            left: -10.5px;
            width: 21px;
            height: 21px;
            background: white;
            -moz-border-radius: 10.5px;
            -webkit-border-radius: 10.5px;
            border-radius: 10.5px;
            cursor: pointer;
        }

        #knobArrowLeft {
            position: absolute;
            top: 109px;
            left: -15.5px;
            pointer-events: none;
            transform: translate3d(0, 0, 0.1px);
            clip: rect(12px, 14px, 21px, 9px);
        }
        #knobArrowRight {
            position: absolute;
            top: 109px;
            left: -15.5px;
            pointer-events: none;
            transform: translate3d(0, 0, 0.1px);
            clip: rect(12px, 24px, 21px, 19px);
        }
    }
}
