body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background-color: rgba(255, 0, 255, 0);
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;

    #expand-button {
        background-color: rgba(255, 0, 255, 0);
        cursor: pointer;
        height: 31px;
        width: 88px;
        top: 0;
        right: 0;
        position: absolute;
    }

    #cta {
        top: 0;
        right: 0;
        position: absolute;
    }
}
